BASE_URL=http://localhost

# DB Configurations
MYSQL_DB_CONNECTION=mysql
MYSQL_DB_HOST=127.0.0.1
MYSQL_DB_PORT=3306
MYSQL_DB_DATABASE=homestead
MYSQL_DB_USERNAME=homestead
MYSQL_DB_PASSWORD=secret

# Environment Configuration
DEBUG=TRUE